<section class="relative h-[90vh] flex items-center justify-center text-white bg-center bg-cover bg-no-repeat bg-[url('/images/house.png')]">
  <!-- Capa oscura mejorada -->
  <div class="absolute inset-0 bg-black/70"></div>

  <!-- Contenido -->
  <div data-aos="fade-right"
     data-aos-duration="600"
     class="relative z-10 text-center px-4 max-w-2xl">
    <h1 class="text-4xl md:text-5xl font-montserrat font-extrabold mb-6">
      ¿VAS A <span class="text-dorado-secundario">RENTAR UNA PROPIEDAD?</span>
    </h1>
    <p class="text-lg md:text-2x font-poppins text-blue-100 font-bold leading-relaxed">
      Querido inquilino, <span class="text-dorado-secundario">nosotros te asesoramos,</span><br />
      debes conocer tus derechos también.
    </p>
  </div>
</section>
