---
const currentYear = new Date().getFullYear();
---

<footer class="bg-midnight text-white py-12">
  <div class="max-w-7xl font-poppins mx-auto px-4 sm:px-6 lg:px-8">
    <div class="grid md:grid-cols-4 gap-8">
      
      <!-- Logo + nombre -->
      <div>
        <div class="flex items-center space-x-2 mb-4 text-blue-400">
          <img class="w-32 h-32" src="../../public/images/rentlogo.png" alt="logo">
          
        </div>
      
      </div>

      <!-- Servicios -->
      <div>
        <h4 class="font-semibold mb-4">Servicios</h4>
        <ul class="space-y-2 text-gray-400">
          <li>Pólizas Jurídicas</li>
          <li>Cobertura por Impago</li>
          <li>Proceso de Desalojo</li>
          <li>Daños a Propiedad</li>
          <li>Investigacion de inquilino</li>
          <li>Resolucion de conflictos</li>
        </ul>
      </div>

      <!-- Empresa -->
      <div>
  <h4 class="font-semibold mb-4">Empresa</h4>
  <ul class="space-y-2 text-gray-400">
    <li>
      <a href="#nosotros" class="hover:underline hover:text-white transition">
        Nosotros
      </a>
    </li>
    <li>
      <a href="/docs/terms.pdf" target="_blank" class="hover:underline hover:text-white transition">
        Términos y Condiciones
      </a>
    </li>
  </ul>
</div>


      <!-- Nueva sección: Ubicación y Horarios -->
      <div>
  <h4 class="font-semibold mb-4">Ubicación</h4>
  <p class="text-gray-400">
    Alicia #55, Col. Maravillas, CP: 62260<br>
    Cuernavaca, Morelos.
  </p>
  <p class="text-gray-400 mt-2">
     <a href="mailto:rentsolutionsmx@gmail.com" class="hover:underline hover:text-white transition">
      rentsolutionsmx@gmail.com
    </a>
  </p>
  <p class="text-gray-400 mt-1">
     <a href="https://wa.me/527772701431" target="_blank" class="hover:underline hover:text-white transition">
      WhatsApp: +52 777 270 1431
    </a>
  </p>
</div>


    </div>

    <div class="border-t border-gray-800 mt-8 pt-8 text-center text-gray-400">
      <p>&copy; {currentYear} RentSolutions</p>
    </div>
  </div>
</footer>
