---
// src/layouts/MainLayout.astro

import SiteHeader from '../components/SiteHeader.astro';
import SiteFooter from '../components/SiteFooter.astro';
import '../styles/global.css';

interface Props {
  title: string;
}

const { title } = Astro.props;
---

<!DOCTYPE html>
<html lang="es" class="scroll-smooth">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <!-- En el <head> de tu layout -->
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&family=Raleway:wght@300;400;500;600;700&family=Montserrat:wght@300;400;500;600;700&display=swap" rel="stylesheet">
    
    <link rel="icon" type="image/svg+xml" href="" />
    
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
</head>
<body class="min-h-screen flex flex-col antialiased">
    <SiteHeader />
    <main class="flex-grow">
        <slot /> </main>
    <SiteFooter />
</body>
</html>